<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="/assets/gallerialogo.png" alt="" />
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About Galleria</ion-title>
      </ion-toolbar>
  </ion-header>

  <app-explore-container name="About Galleria"></app-explore-container>
  


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>About Galleria</ion-card-subtitle>
      <ion-card-title></ion-card-title>
      <img src="/assets/student.png">
    </ion-card-header>
  
    <ion-card-content>
      Galleria is an Andriod app that takes pictures using the camera on the device and stores them in the App's proprietary Gallery. 
      You can also add other pictures from your phone gallery to the app.
      There is an extended feature to upload images from the app gallery to any server or location on the cloud. 
      This makes the app suitable for data collection purposes that involves taking pictures and sharing or sending to a remote location. 
      <br>
      <br>

      Developer Details: 10527084@mydbs.ie<br>
      All  Rights Reserved. (c) 2020
    
    </ion-card-content>
  </ion-card>
</ion-content>
