
<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="/assets/gallerialogo.png" alt="" />
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/dbsimage.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Web B9IS124 Project</ion-card-subtitle>
        <ion-card-title>Welcome To DBS Galleria!!!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>The is a learning project by a first time student developer from Dublin Business School (DBS) as a Continuous Assessment. I will use the section below to tell you about DBS</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Information & Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.dbs.ie/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>DBS Website</ion-label>
      </ion-item>
      <ion-item href="https://www.dbs.ie/courses">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Courses</ion-label>
      </ion-item>
      <ion-item href="https://www.dbs.ie/news-events">
        <ion-icon slot="start" color="medium" name="newspaper"></ion-icon>
        <ion-label>News & Events</ion-label>
      </ion-item>
      <ion-item href="https://www.dbs.ie/contact">
        <ion-icon slot="start" color="medium" name="call"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-item>
    </ion-list>
</ion-content>